<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<title>体重管理</title>
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	pre { font-size:13pt; color:gray; padding:5px 10px; border:1px solid gray; }
	</style>
</head>
<body>

	<div th:object="${session.user}">
	<h1 th:text="*{nickname} + さんの体重の推移"></h1>
	</div>
	
    <canvas id="weightChart" style="position: relative; height:300; width:400"></canvas>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var ctx = document.getElementById("weightChart").getContext('2d');
    var ChartDemo = new Chart(ctx, {
        type: 'line',
        data: {
            // コントローラーで格納したmeasuredDaysを変数式で取り出すだけ。
            labels: /*[[ ${measuredDays} ]]*/,
            datasets: [
                {
                    label: "体重",
                    borderColor: 'rgb(255, 0, 0)',
                    lineTension: 0,
                    fill: false,
                    // 上記と同様、weightsを変数式で取り出しているだけです。
                    data: /*[[ ${weights} ]]*/,
                },
            ]
        },
        options: {
            responsive: true,
        }
    });
    /*]]>*/
    </script>
	
	<p><a th:href="@{'/weightRecord'}">体重を記録する</a></p>
	<p><a th:href="@{'/'}">TOPへ</a></p>
</body>
</html>